.Input{
    width: 100%;
    box-sizing: border-box;
}

.InputElement {
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 8px;
}
.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;
}
.InputElement:focus {
    outline: none;
    background: #ccc;
}
.Invalid {
    border-bottom: 1px solid red !important;
    /* color: rgb(241, 55, 55) !important;
    font-weight: bold; */
}
.InputField{
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.InputField::placeholder{
    color: white;
    opacity: 0.6;
}